body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    color: #333;
}

.header {
    background: #1e5eff;
    color: white;
    padding: 30px;
    text-align: center;
}

.home-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.card {
    background: white;
    width: 300px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 20px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #1e5eff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #1748c8;
}

footer {
    margin-top: 80px;
    text-align: center;
    color: #777;
}
.dashboard-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px;
    flex-wrap: wrap;
}

.dashboard-card {
    background: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.dashboard-card h2 {
    margin-bottom: 15px;
}

.input-box {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.highlight {
    border-top: 5px solid #1e5eff;
}

.time {
    font-size: 32px;
    color: #1e5eff;
    font-weight: bold;
}

.back-btn {
    text-align: center;
    margin-bottom: 40px;
}
.admin-header {
    background-color: #0f2a44;
}

.table-section {
    margin: 40px;
    text-align: center;
}

table {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

th, td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1e5eff;
    color: white;
}